.movie-title-section {
  display: flex;
  flex-direction: row;

  img {
    max-height: 200px;
    width: auto;
  }

  h3 {
    color: #708ED2;
    font-weight: 400;
  }
}

.movie-detail-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.movie-card {
  width: 60%;
  background-color: #EBE5E2;
  margin: 32px;
  padding: 8px;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .movie-card {
    width: 80%;
  }
}
